@import url('https://fonts.googleapis.com/css?family=Calistoga:100,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500&display=swap');

@media (min-width: 1200px) {
    .container {
        max-width: 1060px;
    }
}

@media (min-width: 992px) {
    
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link:first-child {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    nav.navbar-custom .nav-link {
        color: black;
        position: relative;
    }
    
    nav.navbar-custom .nav-item:hover .nav-link::before {
        content: '';
        width: 100%;
        background-color: #4e73df;
        position: absolute;
        left: 0;
        top: 0;
        height: 2px;                
        transition: content 2s;
    }
}

@media only screen and (max-width: 768px) {
    .page {
        margin: 0 !important;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.1rem;
    }



    main .do-you-know {
        padding: 0 !important;
        max-width: 180px !important;
    }

    #welcome p {
        margin: 0 20px !important;
    }

    header .main-header h2 {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    header .main-header .navbar-toggler{
        display: block !important;
    }

    .scroll {
        white-space: nowrap; /* [1] */
        overflow-x: auto; /* [2] */
        -webkit-overflow-scrolling: touch; /* [3] */
        -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */ }
      
      /* [5] */
      .scroll::-webkit-scrollbar {
        display: none; }

        body{
            background-color: #ffffff !important;
        }

        header{
            position: relative !important;
        }

        header .main-header{
            padding-top: 0 !important;
            position: relative !important;
            z-index: 9999999999 !important;
        }

        nav.navbar-custom{
            padding: 10px !important
        }

        .dropdown-menu{
            -webkit-box-shadow: 0 0px 0px !important;
            box-shadow: 0 0px 0px !important;
        }

        nav.navbar-custom{
            position: absolute !important;
            top: 69% !important;
            z-index: 99 !important;
            width: 100% !important;
        }
}

@media(min-width: 768px){
    .sticky.is-sticky {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1000;
        width: 100%;
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    }
}

body {
    background-color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;

    /* border-top: solid 4px #4e73df; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Calistoga', cursive;
}

p {
    font-size: 14px;
    line-height: 29px;
}

hr{
    border-top: 1px solid rgb(245, 245, 245);
}

.page {
    /* margin-bottom: 80px;
    margin-top: 80px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; */
    padding: 0;
}

header {
    background-color: #ffffff;
}

header .main-header {
    border-bottom: solid 1px #f5f5f5;
}

header .main-header a {
    text-decoration: none;
}

header .main-header a:hover h2 {
    color: #4e73df !important;
}

header .main-header a:hover h2 span {
    color: #636363 !important;
}

header .main-header h2 {
    color: #636363;
    font-family: 'Calistoga', cursive;
    line-height: 64px;
    margin: 0;
    position: relative;
    float: left;
    top: -6px;
}

header .main-header h2>span {
    color: #4e73df;
}

header .main-header h2>.tag-line {
    font-size: 10px;
    letter-spacing: 1px;
    color: #6f6f6f;
    position: absolute;
    top: 37%;
    font-weight: 100;
    float: left;
    padding: 0;
    right: 0;
    margin: 0;
    font-style: italic;
}

header .main-header h2>.tag-line>span {
    color: #4e73df;
}

header .main-header nav {
    float: right;
    /* text-transform: lowercase; */
}

header .main-header nav a {
    border-left: solid 1px #f5f5f5;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #757575;
    font-size: 14px;
}

header .main-header nav a.active{
    color: #4e73df;
}

header .main-header nav a:hover {
    color: #4e73df;
}

header .main-header nav a:last-child{
    border-right: solid 1px #f5f5f5;
}

header .main-header nav .btn-custom {
    border-radius: 0;
    color: #ffffff
}

header .main-header nav .btn-custom:hover{
    color: #ffffff;
}

header .main-header .navbar-toggler{
    display: none;
}
.breadcrumb{
    background-color: transparent;
    padding-left: 0;
}
.breadcrumb-bg{
    /* background-color: #4682b4!important; */
    background-color: transparent!important;
    border-bottom: solid 1px #f5f5f5;
    border-top: solid 1px #f5f5f5;
    color: #757575;
    background: transparent !important;
}

.breadcrumb-item+.breadcrumb-item::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f101";
    color: #2497E3;
}

.breadcrumb-bg *{
    color: #757575 !important;
}




.logo{
    display: none;
    opacity: 0;
    color: #636363;
    font-family: 'Calistoga', cursive;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: .051rem;
}

.logo span{
    color: #4e73df;
}
.sticky.is-sticky .logo{
    display: block !important;
    opacity: 1 !important;
    animation: fade_in_show 0.5s;
}

@keyframes fade_in_show {
    0% {
         opacity: 0;
    }
    100% {
         opacity: 1;
        }
}

input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #2497E3;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2497E3;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #2497E3;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2497E3;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #2497E3;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #2497E3;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #2497E3;
  }

nav.navbar-custom {
padding: 0;
/* text-transform: lowercase; */
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border: 0 !important;
    border-bottom: solid 2px #2497E3 !important;
    color: #2497E3;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    color: #212529;
    border: 1px solid  #e9ecef !important;
}




nav.navbar-custom .nav-item.active .nav-link{
    color: #4e73df;
    border-top: 2px solid #4e73df;
}


nav.navbar-custom .nav-item.active:hover .nav-link{
    border-top: solid 2px #4e73df;
}

nav.navbar-custom .nav-item.active:hover .nav-link::before{
    content: '';
    width: 100%;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    height: 0 !important;
}

nav.navbar-custom .nav-link {
    color: #757575;
    font-size: 14px;
}

nav.navbar-custom .nav-item:hover .nav-link {
    color: #4e73df;
}

nav.navbar-custom .social-media a i {
    display: inline-block;
    font-size: 16px;
    color: #4e73df;
    text-align: center;
    border: 1px solid #4e73df;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: 0 5px;
}

nav.navbar-custom .social-media a:hover i {
    background-color: #4e73df;
    color: #ffffff;
}

.dropdown-menu {
    margin-top: 0;
    -webkit-box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    border: 0;
    border-radius: 0;
    padding: 0;
    font-size: 14px;
    /* border-radius: 0 0 8px 8px; */
}

.dropdown-item {
    padding: 0.6rem 1.5rem;
    border-bottom: solid 1px #f5f5f5;
    color: #848484;;
}

.dropdown-item:last-child {
    border-bottom: none
}

.dropdown-toggle::after {
    transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

.dropdown-item.active, .dropdown-item:active{
    background-color: #ffffff;
    color: #4e73df;
}

section {
    padding: 50px 0;
    background-color: #ffffff;
}

section .inner-wrapper{
    /* padding: 0 30px; */
    position: relative;
}

main {
    max-height: 450px;
    background-color: #ffffff;
    width: 100%;
    overflow-y: hidden;
    position: relative;
}

main img {
    object-fit: cover;
    height: 450px;
    width: 100%;
    object-position: center;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

main .do-you-know {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #202020;
    padding: 40px;
    max-width: 450px;
}

main .do-you-know h2 {
    background-color: #4e73df;
    color: #f5f5f5;
    padding: 10px 5px;
    float: left;
}

main .do-you-know h4 {
    background-color: #272727;
    color: #f5f5f5;
    padding: 10px 5px;
    float: left;
    clear: both;
}

#service-section .service{
    padding: 2rem;
    border-right: solid 1px #e2f2ff;
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#service-section .service:last-child{
    border-right: 0 !important;
}

#service-section .service:hover{
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(240, 248, 255) 76%);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

#service-section .service:hover h4{
    color: #4e73df;
}

#service-section a {
    color: #202020;
    display: block;
    text-align: center;
}

#service-section a:hover {
    color: #4e73df;
    text-decoration: none;
}


#service-section p {
    color: #636363;
    font-size: 16px;
    margin-bottom: 0;
}

#welcome {
    text-align: center;

}

#welcome h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

#welcome h1>span {
    font-weight: bolder;
    color: #636363;
}

#welcome h1>span>span {
    color: #4e73df;
    font-weight: bolder;
}

#welcome p {
    margin: 0 175px;
    color: #a9a9a9;
    line-height: 30px;
}

#how-to {
}

#how-to * {
    color: #f5f5f5;
}

#updates{
    border-top: solid 1px #f5f5f5;
}

#updates a {
    color: #202020;
}

#updates a:hover {
    color: #4e73df;
    text-decoration: none;
}

#updates .blog-box {
    border-bottom: solid 1px #f5f5f5;
    border-left: solid 1px #f5f5f5;
    border-right: solid 1px #f5f5f5;
    /* border-radius: 8px 8px 8px 8px; */
}

#updates .blog-image img {
    width: 100%;
    /* border-radius: 8px 8px 0 0; */
}

#updates .blog-title,
#updates .blog-detail {
    padding: 20px 20px 1px 20px;
}

#updates .blog-action {
    padding: 0px 20px 10px 20px;
}

#updates .blog-detail p {}

#updates .blog-action a {
    text-transform: uppercase;
    font-size: 13px;
}

#updates .news-box {
    background-color: #191970;
    max-height: 498px;
    overflow-y: auto;
    /* border-radius: 8px 8px 8px 8px; */
}

#updates .news-box a {
    color: #f5f5f5
}

#updates .news-box .news-box-title {
    padding: 15px 25px;
    border-bottom: solid 1px #171763;
    background-color: navy;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    /* border-radius: 8px 8px 0 0; */
}

#updates .news-box .news-box-title h6 {
    color: #f5f5f5;
    margin: 0;
    text-transform: uppercase;
}

#updates .news-box .news-box-updates {
    padding: 0 20px;
    overflow-y: scroll;
    height: 448px;
    overflow: auto;
}

#updates .news-box .news-box-updates ul {
    padding: 0;
    list-style: none;
}

#updates .news-box .news-box-updates ul li {
    padding: 20px 0;
    border-bottom: solid 1px #404086;
}

#updates .news-box .news-box-updates ul li a {}



#updates .news-box .news-box-updates ul li a p {
    font-weight: normal;
    line-height: 23px;
    font-size: 15px;
    margin-bottom: 3px;
    color: #70a5a7;
}

#updates .news-box .news-box-updates ul li a:hover p{
    color: #ffffff;
}

#updates .news-box .news-box-updates ul li a span {
    color: #4d4d9a;
    font-size: 13px;
}

.page-title-bar{
    background-image: url(../images/close-up-photography-of-yellow-green-red-and-brown-plastic-163064.jpg);
    height: 200px;
    background-size: cover;
    background-position: right;
}

footer {
    background: linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.03) 9%);
    padding: 25px 0;
    border-top: solid 1px #f5f5f5;
    text-align: center;
    color: #080808;
}

footer .left {
    text-align: left;
}

footer .right {
    text-align: right;
}

footer .right a {
    color: #080808;
}



/* Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}
 
.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #4e73df; 
}
.newsevents-item{
    margin-bottom: 30px;
}

.newsevents-item *{
    border-radius: 0 !important;
}

.newsevents-item .card{
    border: transparent;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-bottom: 1px solid #d5d5d500;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.newsevents-item .card:hover{
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.newsevents-item .card .info{
    font-size: 13px;
    color: #636363;
}

.newsevents-item .card .info li{
    padding: 0 10px;
    position: relative;
    margin-right: 0;
}

.newsevents-item .card .info li span{
    font-weight: 500;
}

.newsevents-item .card .info li:after{
    content: '';
    width: 1px;
    height: 50%;
    background-color: #636363;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
}

.newsevents-item .card .info li:first-child{
    padding-left: 0;
}

.newsevents-item .card .info li:last-child::after{
    content: '';
    width: 1px;
    height: 100%;
    background-color: #636363;
    position: absolute;
    right: 0;
    display: none;
}

.newsevents-item .card > a{
    display: block;
    overflow: hidden;
}

.newsevents-item.grid .card > a img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.newsevents-item.wide .card > a img{
    width: 100%;
    height: 360px;
    object-fit: cover;
}

.newsevents-sidebar .card{
    border: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.08);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.08);
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 30px;
}


#contactus form{
    margin-top: 20px;
}

#contactus form label{
    font-size: 12px;
    margin-bottom: 2px;
    font-weight: 500;
    position: relative;
}

#contactus form label::after{
    content: '*';
    position: absolute;
    right: -10px;
    top: 2px;
    font-size: 14px;
    color: red;
    font-weight: normal;
}

#contactus form input[type=text]{
    background-color: #ebebeb;
    line-height: 30px;
    border: 0;
    border-radius: 0;
}

#contactus form textarea{
    background-color: #ebebeb;
    line-height: 30px;
    resize: none;
    border: 0;
    border-radius: 0;
}

#contactus form input[type=submit]{
    border-radius: 0;
}

#contactus .contact-sidebar .inner-wrapper{
    background-color: #ebebeb; 
    padding: 20px; 
    height: 100%
}

#contactus .contact-sidebar .inner-wrapper .blk{
    padding: 10px;
}

#contactus .contact-sidebar .inner-wrapper .blk h6{
    color: #4e73df;
    margin-bottom: 2px;
}
#contactus .contact-sidebar .inner-wrapper .blk p{
    color: #757575;
}

#contactus .contact-sidebar .inner-wrapper .blk p a{
    color: #757575;
    word-break: break-all;
}

#main-course-section{
    background-color: #36b9cc !important;
    margin-bottom: 200px;
}

#main-course-section .wrapper{
    background: #ffffff;
    padding: 30px 0;
    box-shadow: 0 0 4px 0 #cdcdcd;
}

.main-course-info{
    padding: 2% 0% 0%;
}

#main-course-section .main-course-wrapper{
    padding: 0 35px;
    left: 0;
    margin: 0 auto;
    position: relative;
    right: 0;
    text-align: center;
    margin-top: -120px;
    top: 130px;
}

#main-course-section .main-course-wrapper a{
    color: #36b9cc;
}

#main-course-section .main-course-wrapper a p{
    font-weight: normal !important;
    color: #757575
}

#main-course-section .main-course-wrapper a:hover{
    text-decoration: none;
}

#main-course-section .main-course-wrapper .main-course.active a .wrapper{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#reading-excercises-screens .left-pane{
    background-color: white;
    border-right: solid 2px #cdcdcd;
    overflow-y: scroll;
}

#reading-excercises-screens .left-pane .inner{
    padding: 10px;
    height: 100vh;
    
}

#reading-excercises-screens .right-pane{
    background-color: whitesmoke;
    border-left: solid 6px #e0dfdf;
    overflow-y: scroll;
}

#reading-excercises-screens .right-pane .inner{
    padding: 10px;
    height: 100vh;
}

